<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attachment">

    <insert id="addAttachment" parameterType="AttachmentEntity" useGeneratedKeys="true" keyProperty="aid">
        INSERT INTO `attachment`(`owner`,`url`,`upload_time`)
            VALUES (#{owner},#{url},#{uploadTime})
    </insert>

</mapper>