<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contestUserInfo">

    <select id="getByUidAndUid" resultMap="contestUserInfoMap">
        SELECT * FROM `contest_user_info` WHERE `cid` = #{cid} AND `uid` = #{uid}
    </select>

    <insert id="add" parameterType="ContestUserInfoEntity">
        INSERT INTO `contest_user_info`(`cid`,`uid`,`join_time`)
            VALUES (#{cid},#{uid},#{joinTime})
    </insert>


    <update id="addData">
        UPDATE `contest_user_info`
        <set>
            <if test="submitTimes > 0">
                `submit_times` = `submit_times` + 1,
            </if>
            <if test="acceptTimes > 0">
                `accept_times` = `accept_times` + 1,
            </if>
            <if test="newlyAcceptTime > 0">
                `newly_accept_time` = #{newlyAcceptTime}
            </if>
        </set>
        WHERE `cid` = #{cid} AND `uid` = #{uid}
    </update>

    <resultMap id="contestUserInfoMap" type="ContestUserInfoEntity">
        <id column="cid" property="cid"/>
        <id column="uid" property="uid"/>
        <result column="submit_times" property="submitTimes"/>
        <result column="ac_times" property="ACTimes"/>
        <result column="wa_times" property="WATimes"/>
        <result column="rte_times" property="RTETimes"/>
        <result column="tle_times" property="TLETimes"/>
        <result column="ce_times" property="CETimes"/>
        <result column="join_time" property="joinTime"/>
    </resultMap>
</mapper>