<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contestUser">

    <select id="select" resultMap="contestUserMap">
        SELECT * FROM `contest_user` WHERE `cid` = #{cid} AND `uid` = #{uid}
    </select>

    <insert id="insert">
        INSERT INTO `contest_user`(`cid`,`uid`,`join_time`)
            VALUES (#{cid},#{uid},#{joinTime})
    </insert>


    <update id="updateTimes">
        UPDATE contest_user
        <set>
            <if test="submitTimes > 0">
                submit_times = submit_times + 1,
            </if>
            <if test="finishedProblems > 0">
                finished_problems = finished_problems + 1,
            </if>
            <if test="ACTimes > 0">
                ac_times = ac_times + 1,
            </if>
            <if test="WATimes > 0">
                wa_times = wa_times + 1,
            </if>
            <if test="RTETimes > 0">
                rte_times = rte_times + 1,
            </if>
            <if test="TLETimes > 0">
                tle_times = tle_times + 1,
            </if>
            <if test="CETimes > 0">
                ce_times = ce_times + 1,
            </if>
        </set>
        WHERE `cid` = #{cid} AND `uid` = #{uid}
    </update>

    <resultMap id="contestUserMap" type="ContestUserEntity">
        <id column="cid" property="cid"/>
        <id column="uid" property="uid"/>
        <result column="submit_times" property="submitTimes"/>
        <result column="finished_problems" property="finishedProblems"/>
        <result column="ac_times" property="ACTimes"/>
        <result column="wa_times" property="WATimes"/>
        <result column="rte_times" property="RTETimes"/>
        <result column="tle_times" property="TLETimes"/>
        <result column="ce_times" property="CETimes"/>
        <result column="join_time" property="joinTime"/>
    </resultMap>
</mapper>