<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contestProblemUserInfo">

    <insert id="insert" parameterType="ContestProblemUserInfoEntity">
        INSERT INTO `contest_problem_user_info` (`cid`,`pid`,`uid`,`score`,`status`) VALUES (#{cid},#{pid},
        #{uid},#{score},#{status})
    </insert>

    <select id="selectByCidPidUid" resultMap="contestProblemUserInfo">
        SELECT * FROM `contest_problem_user_info` WHERE `cid`=#{cid} AND `pid`=#{pid} AND `uid`=#{uid}
    </select>

    <update id="updateScoreStatus">
        UPDATE `contest_problem_user_info` SET `score` = #{score}, `status` = #{status} WHERE `cid` = #{cid}
        AND `pid` = #{pid} AND `uid` = #{uid}
    </update>

    <resultMap id="contestProblemUserInfo" type="ContestProblemUserInfoEntity">
        <result column="cid" property="cid"/>
        <result column="pid" property="pid"/>
        <result column="uid" property="uid"/>
        <result column="status" property="status"/>
        <result column="solved_time" property="solvedTime"/>
    </resultMap>
</mapper>