<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contest">

        <insert id="addContest" parameterType="ContestEntity" useGeneratedKeys="true" keyProperty="cid">
            INSERT INTO `contest`(`name`,`owner`,`slogan`,`description`,`start_time`,
            `end_time`,`total_time`,`password`,`official`,`type`,`status`,`create_time`)
            VALUES (#{name},#{owner},#{slogan},#{description},#{startTime},
            #{endTime},#{totalTime},#{password},#{official},#{type},#{status},#{createTime})
        </insert>

        <select id="getValidContests" resultType="HashMap">
            SELECT contest.*, user.nickname
            FROM `contest` LEFT JOIN user ON contest.owner=user.uid WHERE status!=0 ORDER BY status ASC, official DESC, create_time DESC
        </select>


        <select id="getUserContests" resultMap="contestMap">
            SELECT * FROM contest WHERE owner = #{uid} ORDER BY create_time DESC
        </select>

        <update id="updateContestDescription" parameterType="ContestEntity">
            UPDATE `contest` SET `name` = #{name}, `slogan` = #{slogan},`description` = #{description},
                `start_time` = #{startTime},`end_time` = #{endTime},`total_time` = #{totalTime},
                `password` = #{password}, `type` = #{type}, `status`=0 WHERE `cid` = #{cid}
        </update>

        <update id="updateContestStatus">
            UPDATE contest SET status=#{status} WHERE cid=#{cid}
        </update>

        <delete id="deleteContestByCid">
            DELETE FROM `contest` WHERE `cid` = #{cid}
        </delete>

        <select id="getContestByCid" resultMap="contestMap">
            SELECT * FROM `contest` WHERE `cid` = #{cid}
        </select>

        <resultMap id="contestMap" type="ContestEntity">
            <id column="cid" property="cid"/>
            <result column="name" property="name"/>
            <result column="owner" property="owner"/>
            <result column="slogan" property="slogan"/>
            <result column="description" property="description"/>
            <result column="start_time" property="startTime"/>
            <result column="end_time" property="endTime"/>
            <result column="total_time" property="totalTime"/>
            <result column="password" property="password"/>
            <result column="official" property="official"/>
            <result column="type" property="type"/>
            <result column="status" property="status"/>
            <result column="create_time" property="createTime"/>
        </resultMap>
</mapper>