<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contestProblemUser">

    <insert id="insert">
        INSERT INTO `contest_problem_user` (`cid`,`pid`,`uid`,`score`,`status`,`solved_time`,`used_time`) VALUES (#{cid},#{pid},
        #{uid},#{score},#{status},#{solvedTime},#{usedTime})
    </insert>

    <select id="select" resultMap="contestProblemUserMap">
        SELECT * FROM `contest_problem_user` WHERE `cid`=#{cid} AND `pid`=#{pid} AND `uid`=#{uid}
    </select>

    <select id="getNormalContestRank" resultType="HashMap">
        SELECT contest_problem_user.uid,user.nickname,SUM(score) AS score, SUM(used_time) AS used_time FROM contest_problem_user
            LEFT JOIN user ON contest_problem_user.uid=user.uid
        where cid=#{cid} group by uid order by SUM(score) DESC, SUM(used_time) DESC
    </select>

    <select id="selectAll" resultMap="contestProblemUserMap">
        SELECT * FROM contest_problem_user WHERE cid=#{cid}
    </select>

    <update id="update">
        UPDATE `contest_problem_user` SET `score` = #{score}, `status` = #{status}, solved_time = #{solvedTime}, used_time=#{usedTime}
        WHERE `cid` = #{cid} AND `pid` = #{pid} AND `uid` = #{uid}
    </update>

    <resultMap id="contestProblemUserMap" type="ContestProblemUserEntity">
        <id column="cid" property="cid"/>
        <id column="pid" property="pid"/>
        <id column="uid" property="uid"/>
        <result column="score" property="score"/>
        <result column="status" property="status"/>
        <result column="solved_time" property="solvedTime"/>
        <result column="used_time" property="usedTime"/>
    </resultMap>
</mapper>