<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contestUserInfo">

    <select id="getByUidAndUid" resultMap="contestUserInfoMap">
        SELECT * FROM `contest_user_info` WHERE `cid` = #{cid} AND `uid` = #{uid}
    </select>

    <insert id="add" parameterType="ContestUserInfoEntity">
        INSERT INTO `contest_user_info`(`cid`,`uid`,`score`,`submit_times`,`accept_times`)
            VALUES (#{cid},#{uid},#{score},#{submitTimes},#{acceptTimes})
    </insert>

    <resultMap id="contestUserInfoMap" type="ContestUserInfoEntity">
        <result column="cid" property="cid"/>
        <result column="uid" property="score"/>
        <result column="score" property="score"/>
        <result column="submit_times" property="submitTimes"/>
        <result column="accept_times" property="acceptTimes"/>
    </resultMap>
</mapper>