<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupUserInfo">

    <insert id="addGroupUserInfo">
        INSERT INTO  `group_user_info`(`gid`,`uid`,`score`,`submit_times`,`accept_times`,`join_time`)
            VALUES (#{gid},#{uid},#{score},#{submitTimes},#{acceptTimes},#{joinTime})
    </insert>

    <select id="getByGidAndUid" resultMap="groupUserInfoMap">
        SELECT * FROM `group_user_info` WHERE uid =#{uid} AND gid = #{gid}
    </select>

    <delete id="deleteByGidAndUid">
        DELETE FROM `group_user_info` WHERE uid =#{uid} AND gid = #{gid}
    </delete>

    <resultMap id="groupUserInfoMap" type="GroupUserInfoEntity">
        <result column="gid" property="gid"/>
        <result column="uid" property="uid"/>
        <result column="score" property="score"/>
        <result column="submit_times" property="submitTimes"/>
        <result column="accept_times" property="acceptTimes"/>
        <result column="join_time" property="joinTime" />
    </resultMap>
</mapper>