<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eagleoj.web.dao.GroupUserMapper">

    <insert id="save">
        INSERT INTO group_user (gid, uid, group_name, join_time) VALUES (#{gid}, #{uid}, #{groupName}, #{joinTime})
    </insert>

    <select id="getByGidUid" resultMap="groupUserMap">
        SELECT * FROM group_user WHERE gid=#{gid} AND uid=#{uid}
    </select>

    <select id="getUserInfoByGidUid" resultType="HashMap">
        SELECT group_user.*, user.nickname, user.avatar
        FROM group_user LEFT JOIN user
            ON group_user.uid = user.uid
        WHERE gid=#{gid} AND group_user.uid=#{uid}
    </select>

    <select id="listUserJoinedGroups" resultType="HashMap">
        SELECT group_user.*, `group`.name FROM group_user
            LEFT JOIN `group` ON group_user.gid=`group`.gid
        WHERE uid=#{uid} ORDER BY finished_problems DESC
    </select>

    <select id="countByGid" resultType="Integer">
        SELECT count(*) FROM group_user WHERE gid=#{gid}
    </select>

    <update id="updateByGidUid">
        UPDATE group_user
        <set>
            <if test="data.groupName != null">
                group_name = #{data.groupName},
            </if>
            <if test="data.submitTimes != null">
                submit_times = submit_times + 1,
            </if>
            <if test="data.finishedProblems != null">
                finished_problems = finished_problems + 1,
            </if>
            <if test="data.ACTimes != null">
                ac_times = ac_times + 1,
            </if>
            <if test="data.WATimes != null">
                wa_times = wa_times + 1,
            </if>
            <if test="data.RTETimes != null">
                rte_times = rte_times + 1,
            </if>
            <if test="data.TLETimes != null">
                tle_times = tle_times + 1,
            </if>
            <if test="data.CETimes != null">
                ce_times = ce_times + 1,
            </if>
        </set>
        WHERE gid=#{gid} AND uid=#{uid}
    </update>

    <select id="listGroupMembersByGid" resultMap="groupUserMap">
        SELECT * FROM group_user WHERE gid=#{gid}
    </select>

    <select id="listGroupMembersRankByGid" resultType="HashMap">
        SELECT group_user.*, avatar FROM group_user
        LEFT JOIN user ON group_user.uid=user.uid
        WHERE gid=#{gid} ORDER BY finished_problems DESC
    </select>

    <delete id="deleteByGidUid">
        DELETE FROM group_user WHERE gid=#{gid} AND uid=#{uid}
    </delete>

    <delete id="deleteByGid">
        DELETE FROM group_user WHERE gid=#{gid}
    </delete>

    <resultMap id="groupUserMap" type="GroupUserEntity">
        <result column="gid" property="gid"/>
        <result column="uid" property="uid"/>
        <result column="group_name" property="groupName"/>
        <result column="submit_times" property="submitTimes"/>
        <result column="finished_problems" property="finishedProblems"/>
        <result column="ac_times" property="ACTimes"/>
        <result column="wa_times" property="WATimes"/>
        <result column="rte_times" property="RTETimes"/>
        <result column="tle_times" property="TLETimes"/>
        <result column="ce_times" property="CETimes"/>
        <result column="join_time" property="joinTime" />
    </resultMap>
</mapper>