<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eagleoj.web.dao.LeaderboardMapper">

    <select id="listOIRankByCid" resultType="HashMap">
        SELECT
            contest_user.uid,
            contest_user.submit_times,
            contest_user.ac_times,
            contest_user.finished_problems,
            contest_user.total_score,
            contest_user.total_used_time,
            <if test="gid == 0">
                user.nickname
            </if>
            <if test="gid > 0">
                group_user.group_name as nickname
            </if>
        FROM contest_user
            <if test="gid == 0">
                LEFT JOIN user ON contest_user.uid = user.uid
            </if>
            <if test="gid > 0">
                LEFT JOIN group_user ON contest_user.uid = group_user.uid
            </if>
        WHERE cid = #{cid} AND contest_user.uid != #{except}
        <if test="gid > 0">
            AND group_user.gid=#{gid}
        </if>
        ORDER BY total_score DESC , total_used_time ASC
    </select>

    <select id="listACMRankByCid" resultType="HashMap">
        SELECT
            contest_user.uid,
            contest_user.submit_times,
            contest_user.ac_times,
            contest_user.finished_problems,
            contest_user.total_score,
            contest_user.total_used_time,
            contest_user.total_wrong_times,
            total_wrong_times * 60 * 1000 * #{penalty} AS penalty_time,
            <if test="gid == 0">
                user.nickname
            </if>
            <if test="gid > 0">
                group_user.group_name as nickname
            </if>
        FROM contest_user
            <if test="gid == 0">
                LEFT JOIN user ON contest_user.uid = user.uid
            </if>
            <if test="gid > 0">
                LEFT JOIN group_user ON contest_user.uid = group_user.uid
            </if>
        WHERE contest_user.cid = #{cid} AND contest_user.uid != #{except}
        <if test="gid > 0">
            AND group_user.gid=#{gid}
        </if>
        ORDER BY total_score DESC , (total_used_time + penalty_time) ASC
    </select>
</mapper>