<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eagleoj.web.dao.ProblemUserMapper">

    <insert id="save">
        INSERT INTO problem_user (pid, uid, status) VALUES (#{pid}, #{uid}, #{status})
    </insert>

    <select id="getByPidUid" resultMap="problemUserMap">
        SELECT * FROM problem_user WHERE pid=#{pid} AND uid=#{uid}
    </select>

    <select id="listUserProblemsByUid" resultType="HashMap">
        SELECT problem_user.*, problem.title FROM problem_user LEFT JOIN problem ON problem_user.pid=problem.pid
        WHERE problem_user.uid = #{uid}
    </select>

    <update id="updateByPidUid">
        UPDATE problem_user SET status=#{data.status} WHERE pid=#{pid} AND uid=#{uid}
    </update>

    <resultMap id="problemUserMap" type="ProblemUserEntity">
        <id column="pid" property="pid"/>
        <id column="uid" property="uid"/>
        <result column="status" property="status"/>
    </resultMap>
</mapper>
