<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="problem">
    <insert id="insertProblem" parameterType="ProblemEntity" useGeneratedKeys="true" keyProperty="pid">
        INSERT INTO `problem` (owner, title, lang, description,
                               input_format, output_format, difficult, samples, moderators, status, create_time) VALUES
        (#{owner}, #{title}, #{lang}, #{description},#{inputFormat}, #{outputFormat},
        #{difficult}, #{samples}, #{moderators}, #{status}, #{createTime})
    </insert>

    <select id="getProblemByPid" resultMap="problemResultMap">
        SELECT * from `problem` WHERE `pid` = #{pid}
    </select>

    <select id="getProblemTags" resultType="HashMap">
        SELECT tag_problem.tid, tag_problem.pid,tags.name, tags.used
        FROM tag_problem LEFT JOIN tags ON tag_problem.tid = tags.tid WHERE tag_problem.pid = #{pid}
    </select>

    <select id="getAllProblem" resultMap="problemResultMap">
        SELECT * FROM `problem`
    </select>

    <select id="getSharedProblems" resultType="HashMap" parameterType="HashMap">
        SELECT problem.pid, title, difficult, submit_times, ac_times FROM problem
        WHERE status=2
        <if test="difficult != -1">
          AND difficult=#{difficult}
        </if>
        <if test="tag != null">
            AND pid IN (SELECT pid FROM tag_problem INNER JOIN tags on tag_problem.tid=tags.tid WHERE tags.name=#{tag})
        </if>
        ORDER BY pid ASC
    </select>

    <select id="getSharedProblemsWithStatus" resultType="HashMap" parameterType="HashMap">
        SELECT problem.pid, title, difficult, submit_times, ac_times, problem_user.status FROM problem
        LEFT JOIN problem_user ON problem.pid=problem_user.pid AND problem_user.uid=#{uid}
        WHERE problem.status=2
        <if test="difficult != -1">
            AND difficult=#{difficult}
        </if>
        <if test="tag != null">
            AND problem.pid IN (SELECT pid FROM tag_problem INNER JOIN tags on tag_problem.tid=tags.tid WHERE tags.name=#{tag})
        </if>
        ORDER BY pid ASC
    </select>

    <select id="getProblemsByUid" resultMap="problemResultMap">
        SELECT * FROM `problem` WHERE owner=#{uid} ORDER BY create_time DESC
    </select>

    <update id="updateProblemModerators">
        UPDATE problem SET moderators=#{moderators} WHERE pid=#{pid}
    </update>

    <update id="updateProblemStatus">
        UPDATE problem SET status=#{status} WHERE pid = #{pid}
    </update>

    <update id="updateProblemDescription" parameterType="ProblemEntity">
        UPDATE `problem` SET `title`=#{title}, `description`=#{description}, `input_format`=#{inputFormat},
            `output_format`=#{outputFormat}, `samples`=#{samples}, `difficult`=#{difficult}
        WHERE `pid`=#{pid}
    </update>

    <update id="updateProblemTimes">
        UPDATE problem
        <set>
            <if test="submitTimes > 0">submit_times = submit_times+1,</if>
            <if test="usedTimes > 0">used_times = used_times+1,</if>
            <if test="ACTimes > 0">ac_times = ac_times+1,</if>
            <if test="WATimes > 0">wa_times = wa_times+1,</if>
            <if test="RTETimes > 0">rte_times = rte_times+1,</if>
            <if test="TLETimes > 0">tle_times = tle_times+1,</if>
            <if test="CETimes > 0"> ce_times = ce_times+1,</if>
        </set>
        WHERE pid=#{pid}
    </update>

    <resultMap id="problemResultMap" type="ProblemEntity">
        <id column="pid" property="pid"/>
        <result column="owner" property="owner"/>
        <result column="title" property="title"/>
        <result column="lang" property="lang"/>
        <result column="description" property="description"/>
        <result column="input_format" property="inputFormat"/>
        <result column="output_format" property="outputFormat"/>
        <result column="samples" property="samples"/>
        <result column="moderators" property="moderators"/>
        <result column="submit_times" property="submitTimes"/>
        <result column="used_times" property="usedTimes"/>
        <result column="ac_times" property="ACTimes"/>
        <result column="wa_times" property="WATimes"/>
        <result column="rte_times" property="RTETimes"/>
        <result column="tle_times" property="TLETimes"/>
        <result column="ce_times" property="CETimes"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
</mapper>
