<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="problem">
    <insert id="insertProblem" parameterType="ProblemEntity" useGeneratedKeys="true" keyProperty="pid">
        INSERT INTO `problem` (`owner`,`code_language`,`title`,
                               `description`,`difficult`,`input_format`,
                               `output_format`,`constraint`,`sample`,`moderator`,
                               `tag`,`share`,`create_time`)
        VALUES (#{owner},#{codeLanguage},
               #{title},#{description},#{difficult},#{inputFormat},
               #{outputFormat},#{constraint},#{sample},#{moderator},#{tag},#{share},#{createTime})

    </insert>

    <select id="getProblemByPid" resultMap="problemResultMap">
        SELECT * from `problem` WHERE `pid` = #{pid}
    </select>

    <select id="getAllProblem" resultMap="problemResultMap">
        SELECT * FROM `problem`
    </select>

    <update id="updateProblemByPid" parameterType="ProblemEntity">
        UPDATE `problem` SET `code_language` =#{codeLanguage},
            `title`  = #{title},`description` = #{description},`difficult` = #{difficult},
            `input_format` = #{inputFormat},`output_format` = #{outputFormat},`constraint` = #{constraint},
            `sample` = #{sample},`moderator` = #{moderator},`tag` = #{tag},`share` = #{share},`create_time` = #{createTime}
            WHERE `pid` = #{pid}
    </update>

    <resultMap id="problemResultMap" type="ProblemEntity">
        <result column="owner" property="owner"/>
        <result column="code_language" property="codeLanguage"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="difficult" property="difficult"/>
        <result column="input_format" property="inputFormat"/>
        <result column="output_format" property="outputFormat"/>
        <result column="constraint" property="constraint"/>
        <result column="sample" property="sample"/>
        <result column="moderator" property="moderator"/>
        <result column="tag" property="tag"/>
        <result column="share" property="share"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
</mapper>
