<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="setting">

    <select id="getAll" resultMap="settingMap">
        SELECT * FROM setting
    </select>

    <update id="updateOne">
        UPDATE setting SET value=#{value} WHERE `key`=#{key}
    </update>

    <insert id="insertAll">
        INSERT setting (`key`, value) VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.key}, #{item.value})
        </foreach>
    </insert>

    <resultMap id="settingMap" type="SettingEntity">
        <id column="key" property="key"/>
        <result column="value" property="value"/>
    </resultMap>
</mapper>
