<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="submission">

    <insert id="insertSubmission" parameterType="SubmissionEntity" useGeneratedKeys="true" keyProperty="sid">
        INSERT INTO `submission` (`owner`, `pid`, `code_source`, `code_language`, `belong`, `result`,
                                  `time_used`, `memory_used`, `status`, `submit_time`)
        VALUES (#{owner}, #{pid}, #{codeSource}, #{codeLanguage}, #{belong}, #{result},
                #{timeUsed}, #{memoryUsed}, #{status}, #{submitTime})
    </insert>

    <resultMap id="submissionEntity" type="SubmissionEntity">
        <id column="sid" property="sid"/>
        <result column="owner" property="owner"/>
        <result column="pid" property="pid" />
        <result column="code_source" property="codeSource" />
        <result column="code_language" property="codeLanguage" />
        <result column="belong" property="belong" />
        <result column="result" property="result"/>
        <result column="time_used" property="timeUsed"/>
        <result column="memory_used" property="memoryUsed"/>
        <result column="status" property="status"/>
        <result column="submit_time" property="submitTime"/>
    </resultMap>
</mapper>
