<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

    <insert id="insertUser" parameterType="UserEntity" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO `user` (`email`,`nickname`,`password`,`permission`,`register_time`)
        VALUES (#{email}, #{nickname}, #{password}, #{permission}, #{registerTime})
    </insert>

    <select id="selectUserByUid" resultMap="userEntityResultMap">
        SELECT * FROM `user` WHERE `uid` = #{uid}
    </select>

    <select id="selectUserByEmail" resultMap="userEntityResultMap">
        SELECT * FROM `user` WHERE `email` = #{email}
    </select>

    <select id="selectUserByLogin" resultMap="userEntityResultMap">
        SELECT * FROM `user` WHERE `email` = #{email} AND `password` = #{password}
    </select>

    <select id="selectUserInUidList" resultMap="userEntityResultMap">
        SELECT * FROM `user` WHERE `uid` IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectModeratorsInUidList" resultMap="moderatorsMap">
        SELECT attachment.url, user.uid, user.nickname FROM user LEFT JOIN attachment ON user.avatar=attachment.aid
        WHERE uid IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--<update id="updateUserProfile">
        UPDATE `user`
        <set>
            <if test="email != null">`email`=#{email}</if>
            <if test="nickname != null"> `nickname`=#{nickname} </if>
            <if test="realName != null"> `real_name`=#{realName} </if>
            <if test="avatar != 0"> `avatar`=#{avatar} </if>
            <if test="password != null"> `password`=#{password} </if>
            <if test="role != 0"> `role`=#{role} </if>
            <if test="permission != null"> `permission`=#{permission} </if>
            <if test="gender != 0"> `gender`=#{gender} </if>
            <if test="motto != null"> `motto`=#{motto} </if>
            <if test="verified != 0"> `verified`=#{verified} </if>
        </set>
        WHERE `uid`=#{uid}
    </update>-->
    <update id="updateUserProfile">
        UPDATE `user` SET `nickname`=#{nickname}, `real_name`=#{realName}, `motto`=#{motto}, `gender`=#{gender}
        WHERE `uid`=#{uid}
    </update>

    <update id="updateUserAvatar">
        UPDATE `user` SET `avatar`=#{avatar} WHERE `uid` = #{uid}
    </update>

    <update id="addUserSubmitTimes">
        UPDATE `user` SET `submit_times` = `submit_times`+1 WHERE `uid` = #{uid}
    </update>

    <update id="addUserAcceptTimes">
        UPDATE `user` SET `accept_times` = `accept_times`+1 WHERE `uid` = #{uid}
    </update>

    <update id="addUserContestTimes">
        UPDATE `user` SET `contest_times` = `contest_times` + 1 WHERE `uid` = #{uid}
    </update>

    <update id="addUserScore">
        UPDATE `user` SET `score` = `score` + #{score} WHERE `uid` = #{uid}
    </update>

    <resultMap id="moderatorsMap" type="HashMap">
        <id property="uid" column="uid"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="url"/>
    </resultMap>

    <resultMap id="userEntityResultMap" type="UserEntity">
        <id property="uid" column="uid"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="realName" column="real_name"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="permission" column="permission"/>
        <result property="submitTimes" column="submit_times"/>
        <result property="contestTimes" column="contest_times"/>
        <result property="ACTimes" column="ac_times"/>
        <result property="WATimes" column="wa_times"/>
        <result property="RTETimes" column="rte_times"/>
        <result property="TLETimes" column="tle_times"/>
        <result property="CETimes" column="ce_times"/>
        <result property="finishedProblems" column="finished_problems"/>
        <result property="score" column="score"/>
        <result property="gender" column="gender"/>
        <result property="motto" column="motto"/>
        <result property="registerTime" column="register_time"/>
        <result property="verified" column="verified"/>
    </resultMap>
</mapper>
