<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eagleoj.web.dao.UserLogMapper">

    <update id="save">
        INSERT INTO user_log VALUES (CURRENT_DATE(), #{uid}, #{data.submitTimes}, #{data.ACTimes},
        #{data.WATimes}, #{data.RTETimes}, #{data.TLETimes}, #{data.CETimes}) ON DUPLICATE KEY UPDATE
        <trim prefix="" suffixOverrides=",">
            <if test="data.submitTimes != null">
                submit_times = submit_times + 1,
            </if>
            <if test="data.ACTimes != null">
                ac_times = ac_times + 1,
            </if>
            <if test="data.WATimes != null">
                wa_times = wa_times + 1,
            </if>
            <if test="data.RTETimes != null">
                rte_times = rte_times + 1,
            </if>
            <if test="data.TLETimes != null">
                tle_times = tle_times + 1,
            </if>
            <if test="data.CETimes != null">
                ce_times = ce_times + 1,
            </if>
        </trim>
    </update>

    <select id="listInWeekByUid" resultMap="userLogMap">
        SELECT * FROM user_log where uid=#{uid} AND date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 WEEK)
    </select>

    <select id="listInMonthByUid" resultMap="userLogMap">
        SELECT * FROM user_log where uid=#{uid} AND date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
    </select>

    <resultMap id="userLogMap" type="UserLogEntity">
        <id column="date" property="date"/>
        <id column="uid" property="uid"/>
        <result column="submit_times" property="submitTimes"/>
        <result column="ac_times" property="ACTimes"/>
        <result column="wa_times" property="WATimes"/>
        <result column="rte_times" property="RTETimes"/>
        <result column="tle_times" property="TLETimes"/>
        <result column="ce_times" property="CETimes"/>
    </resultMap>
</mapper>
